/* Add CSS styling here */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px dotted grey;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    background-color:silver;
    padding: 3%;
}
h1{
    font-size: 5rem;
    text-transform: uppercase;
    padding:1%;
}

button{
    background-color: white;
    border-radius: 0%;
    width:10%;
    text-decoration: none;
    height:3vh;
    text-transform: uppercase;
}
.button{
    text-decoration: none;
    text-transform: uppercase;
}

header section button a{
    text-decoration: none;
    text-align: center;
    width: 100%;
    
}


header #head-buttons{
    width:90%;
    margin:0 auto;
    display: flex;
}

button:hover{
    background-color: #829bc4;
}

#chest{
    padding:.2%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    text-align: left;
}

#chest div h2{
    font-size: 3rem;
    padding-bottom: 3%;
    text-align: left;
}

#chest img{
    width: 43%;
    padding: 2%;
}
#chest div{
    width:28%;
    padding:2%;
    display: flex;
    flex-flow: column;
    align-items: top;
    
}

#chest div p{
    padding: 1%;
}

#chest div button{
    padding: 1%;
    margin-bottom: 3%;
}

#chest button{
    width:25%;
    padding: 1%;
}

#gut{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding:1%;
}

#gut img{
    width:100%;
}
#gut div{
    width: 20%;
    padding: 1%;
}


footer{
    background-color: silver;
    padding: 3%;
    text-align: center;
}
footer p{
    padding:1%;
}
footer a i{
    width: 10%;
}

#head-buttons button{
    width: 10%;
}

@media (max-width:800px){
    #head-buttons .buttons{
        width: 40%;
    }

    button#body-button{
        width: 70%;
    }
    footer button{
        width:40%;
    }
}


@media (max-width:500px){
    h1{
        text-align:center;
        font-size: 4rem;
    }
    #head-buttons{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    #head-buttons .buttons{
        display: block;
        padding: 2%;
        width: 25%;
    }
    #chest div button#body-button{
        display: block;
        margin: 0 auto;
        padding: 2%;
        width: 40%;
    }
    #chest{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #chest img{
        width: 90%;
    }
    #chest div{
        width:90%;
        text-align: center;
    }
    #chest div h2{
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    #gut div{
        width: 43%;
    }
    footer button{
        width: 40%;
    }

}